<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <script>
        (function () {
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme === "dark" || (!savedTheme && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        })();
    </script>
    <title>[[=globals().get('page_title', 'HRMS Admin')]]</title>
    <base href="[[=URL('static')]]/">
    <link rel="stylesheet" href="css/tailwind/output.css">
</head>

<body class="min-h-screen flex flex-col items-center justify-center p-4 transition-colors duration-300">
    [[include]]
</body>
</html>